<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>777878936021-iesd3n4tsnidfd23o2f4ni0lb06nn34r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.777878936021-iesd3n4tsnidfd23o2f4ni0lb06nn34r</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>777878936021-lr7iemcgjuevg20sd272qjnmttfaujcu.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyA3zIInqSexoW1hB_JCKR3GMtYWva1hlUg</string>
	<key>GCM_SENDER_ID</key>
	<string>777878936021</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.cspc.studentEventCalendar</string>
	<key>PROJECT_ID</key>
	<string>student-event-calendar-dce10</string>
	<key>STORAGE_BUCKET</key>
	<string>student-event-calendar-dce10.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:777878936021:ios:d06f0a15a482fe84df855c</string>
</dict>
</plist>